<div class="container">        

    <div class="login-block">
        <div class="block block-transparent">
            <div class="head">
                <div class="user">
                    <div class="info user-change" style="opacity: 1;">                                                                                
                        <img src="assets/img/ccl.jpeg" class="img-circle img-thumbnail">
                        
                    </div>                            
                </div>
            </div>
            <div class="content controls npt">
                <div class="form-row user-change-row" style="display: block;">
                    <div class="col-md-12">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="icon-user"></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Utilizador">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="icon-key"></span>
                            </div>
                            <input type="password" class="form-control" placeholder="Senha">
                        </div>
                    </div>
                </div>                        
                <div class="form-row">
                    <div class="col-md-6">
                        <a href="#" class="btn btn-default btn-block btn-clean">Registar</a>                                
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-default btn-block btn-clean" routerLink="/home">Entrar</a>
                    </div>
                </div>
                <div class="form-row">                            
                    <div class="col-md-12">
                        <a href="#" class="btn btn-link btn-block">Esqueceu a sua senha?</a>
                    </div>
                </div>                                             
            </div>
        </div>
    </div>

</div>
