<div class="container">
    <app-header></app-header>
    <div class="row">
        <app-sidebar></app-sidebar>
        <div class="col-md-9">
            <div class="block">
                <div class="header">
                    <h2>Listagem de presidiários</h2>
                </div>
                <div class="content">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nome</th>
                                <th>Sobrenome</th>
                                <th>Estado civil</th>
                                <th>Nacionalidade</th>
                                <th>T. Detencao</th>
                                <th>Situacao presidiaria</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Gabriel</td>
                                <td>Jorge</td>
                                <td>Casado</td>
                                <td>Angolana</td>
                                <td>2 Anos</td>
                                <td>Condenado</td>
                                <th>
                                    <button class="btn btn-info btn-block btn-base" routerLink="/presidiario-view"><i class="icon-edit"></i></button>
                                </th>
                                <th>
                                    <button class="btn btn-danger btn-block btn-base"><i class="icon-trash"></i></button>
                                </th>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Cesar</td>
                                <td>Manuel</td>
                                <td>Divorciado</td>
                                <td>Angolana</td>
                                <td>3 Anos</td>
                                <td>Liberdade Condicional</td>
                                <th>
                                    <button class="btn btn-info btn-block btn-base" routerLink="/presidiario-view"><i class="icon-edit"></i></button>
                                </th>
                                <th>
                                    <button class="btn btn-danger btn-block btn-base"><i class="icon-trash"></i></button>
                                </th>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Cesar</td>
                                <td>Manuel</td>
                                <td>Divorciado</td>
                                <td>Angolana</td>
                                <td>3 Anos</td>
                                <td>Prisão Preventiva</td>
                                <th>
                                    <button class="btn btn-info btn-block btn-base" routerLink="/presidiario-view"><i class="icon-edit"></i></button>
                                </th>
                                <th>
                                    <button class="btn btn-danger btn-block btn-base"><i class="icon-trash"></i></button>
                                </th>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Pedro</td>
                                <td>Ferreira</td>
                                <td>Divorciado</td>
                                <td>Angolana</td>
                                <td>1 Anos</td>
                                <td>Prisão Preventiva</td>
                                <th>
                                    <button class="btn btn-info btn-block btn-base" routerLink="/presidiario-view"><i class="icon-edit"></i></button>
                                </th>
                                <th>
                                    <button class="btn btn-danger btn-block btn-base"><i class="icon-trash"></i></button>
                                </th>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Lopes</td>
                                <td>Amaral</td>
                                <td>Divorciado</td>
                                <td>Angolana</td>
                                <td>1 Anos</td>
                                <td>Prisão Preventiva</td>
                                <th>
                                    <button class="btn btn-info btn-block btn-base" routerLink="/presidiario-view"><i class="icon-edit"></i></button>
                                </th>
                                <th>
                                    <button class="btn btn-danger btn-block btn-base"><i class="icon-trash"></i></button>
                                </th>
                            </tr>
                            
                            <tr>
                                <td>7</td>
                                <td>Anísio</td>
                                <td>Gomes</td>
                                <td>Casado</td>
                                <td>Congolês</td>
                                <td>3 Anos</td>
                                <td>Condenado</td>
                                <th>
                                    <button class="btn btn-info btn-block btn-base" routerLink="/presidiario-view"><i class="icon-edit"></i></button>
                                </th>
                                <th>
                                    <button class="btn btn-danger btn-block btn-base"><i class="icon-trash"></i></button>
                                </th>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>Manzambi</td>
                                <td>Kilola</td>
                                <td>Solteiro</td>
                                <td>Moçambicano</td>
                                <td>2 Anos</td>
                                <td>Detido</td>
                                <th>
                                    <button class="btn btn-info btn-block btn-base" routerLink="/presidiario-view"><i class="icon-edit"></i></button>
                                </th>
                                <th>
                                    <button class="btn btn-danger btn-block btn-base"><i class="icon-trash"></i></button>
                                </th>
                            </tr>
                        </tbody>
                    </table>                       
                </div>
            </div>
        </div>
    </div>
</div>
