<div class="container">
    <app-header></app-header>
    <div class="row">
        <app-sidebar></app-sidebar>
        <div class="col-md-9">
            <div class="block">
                <div class="header">
                    <h2>Listagem de presidiários</h2>
                </div>
                <div class="content">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nome</th>
                                <th>Sobrenome</th>
                                <th>Estado civil</th>
                                <th>Nacionalidade</th>
                                <th>T. Detencao</th>
                                <th>Situacao presidiaria</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Gabriel</td>
                                <td>Jorge</td>
                                <td>Casado</td>
                                <td>Angolana</td>
                                <td>2 Anos</td>
                                <td>Condenado</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Cesar</td>
                                <td>Manuel</td>
                                <td>Divorciado</td>
                                <td>Angolana</td>
                                <td>3 Anos</td>
                                <td>Liberdade Condicional</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Cesar</td>
                                <td>Manuel</td>
                                <td>Divorciado</td>
                                <td>Angolana</td>
                                <td>3 Anos</td>
                                <td>Prisão Preventiva</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Pedro</td>
                                <td>Ferreira</td>
                                <td>Divorciado</td>
                                <td>Angolana</td>
                                <td>1 Anos</td>
                                <td>Prisão Preventiva</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Lopes</td>
                                <td>Amaral</td>
                                <td>Divorciado</td>
                                <td>Angolana</td>
                                <td>1 Anos</td>
                                <td>Prisão Preventiva</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Sergio</td>
                                <td>Amaral</td>
                                <td>Divorciado</td>
                                <td>Brasileiro</td>
                                <td>6 Anos</td>
                                <td>Detido</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>twitter</td>
                                <td>Brasileiro</td>
                                <td>6 Anos</td>
                                <td>Detido</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>twitter</td>
                                <td>Brasileiro</td>
                                <td>6 Anos</td>
                                <td>Detido</td>
                            </tr>
                        </tbody>
                    </table>                       
                </div>
            </div>
        </div>
    </div>
</div>
